openapi: 3.2.0
info:
  description: '# Authentication

    The Chef Automate API typically uses an API token passed in the header of your API request.'
  title: Chef Automate API Documentation Cds API
  termsOfService: https://www.chef.io/terms-and-conditions-of-use/
  contact:
    url: https://www.chef.io/support/
    email: support@chef.io
  license:
    name: Apache 2.0
    url: https://github.com/chef/automate/blob/main/LICENSE
  version: version not set
  x-logo:
    altText: Chef logo
    url: /images/chef-automate-logo.svg
servers:
- url: https://automate.chef.io
tags:
- name: Cds
  x-displayName: Content Delivery
paths:
  /api/beta/content/credentials:
    post:
      description: 'Submit a Chef Cloud Credentials to enable content


        Authorization Action:

        ```

        content:credentials:add

        ```'
      tags:
      - Cds
      summary: SubmitCredentials
      operationId: Cds_SubmitCredentials
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chef.automate.api.cds.response.Credentials'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/grpc.gateway.runtime.Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chef.automate.api.cds.request.Credentials'
        required: true
  /api/beta/content/enabled:
    get:
      description: 'Check if the content is enable for this Automate instance.


        Authorization Action:

        ```

        content:credentials:enabled

        ```'
      tags:
      - Cds
      summary: IsContentEnabled
      operationId: Cds_IsContentEnabled
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chef.automate.api.cds.response.ContentEnabled'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/grpc.gateway.runtime.Error'
  /api/beta/content/install:
    post:
      description: 'Installs a content item from its ID


        Authorization Action:

        ```

        content:items:install

        ```'
      tags:
      - Cds
      summary: InstallContentItem
      operationId: Cds_InstallContentItem
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chef.automate.api.cds.response.InstallContentItem'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/grpc.gateway.runtime.Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chef.automate.api.cds.request.InstallContentItem'
        required: true
  /api/beta/content/items:
    get:
      description: 'Returns a list of metadata for each CDS content. Provides a description and current

        state of each content item.


        Authorization Action:

        ```

        content:items:list

        ```'
      tags:
      - Cds
      summary: ListContentItems
      operationId: Cds_ListContentItems
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chef.automate.api.cds.response.ContentItems'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/grpc.gateway.runtime.Error'
components:
  schemas:
    chef.automate.api.cds.response.ContentItems:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/chef.automate.api.cds.response.ContentItem'
    chef.automate.api.cds.response.InstallContentItem:
      type: object
    google.protobuf.Any:
      type: object
      properties:
        type_url:
          type: string
        value:
          type: string
          format: byte
    chef.automate.api.cds.response.Credentials:
      type: object
    chef.automate.api.cds.response.ContentItem:
      type: object
      properties:
        can_be_installed:
          type: boolean
        description:
          type: string
        filename:
          type: string
        id:
          type: string
        name:
          type: string
        platforms:
          type: array
          items:
            type: string
        type:
          type: string
        version:
          type: string
    chef.automate.api.cds.request.InstallContentItem:
      type: object
      properties:
        id:
          type: string
        request_user:
          type: string
    chef.automate.api.cds.request.Credentials:
      type: object
      properties:
        client_id:
          type: string
        client_secret:
          type: string
        tenant_specific_url:
          type: string
    chef.automate.api.cds.response.ContentEnabled:
      type: object
      properties:
        is_content_enabled:
          type: boolean
    grpc.gateway.runtime.Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            $ref: '#/components/schemas/google.protobuf.Any'
        error:
          type: string
        message:
          type: string
  securitySchemes:
    APIToken:
      description: Authenticate with the Automate API using an API Token.
      type: apiKey
      name: api-token
      in: header
x-tagGroups:
- name: Compliance
  tags:
  - ReportingService
  - StatsService
  - JobsService
  - ProfilesService
  - Comp_Assets
- name: Report Manager
  tags:
  - ReportManagerService
- name: Infra
  tags:
  - ConfigMgmt
  - InfraProxy
- name: Ingest
  tags:
  - ChefIngester
  - JobScheduler
- name: Node Management
  tags:
  - NodeManagerService
  - NodesService
- name: Event Feed
  tags:
  - EventFeedService
- name: Secrets
  tags:
  - SecretsService
- name: Applications
  tags:
  - service_groups
  - retention
  - ApplicationsService
- name: Data Feed
  tags:
  - DatafeedService
- name: Data Lifecycle
  tags:
  - DataLifecycle
- name: Notifications
  tags:
  - Notifications
- name: Content Delivery
  tags:
  - Cds
- name: Audit and Settings
  tags:
  - UserSettingsService
- name: System
  tags:
  - Gateway
  - Deployment
  - License
  - Telemetry
  - LegacyDataCollector
- name: Identity
  tags:
  - users
  - teams
  - tokens
- name: Access Management
  tags:
  - policies
  - roles
  - projects
  - rules
  - Authorization
