openapi: 3.2.0
info:
  description: '# Authentication

    The Chef Automate API typically uses an API token passed in the header of your API request.'
  title: Chef Automate API Documentation Job Scheduler API
  termsOfService: https://www.chef.io/terms-and-conditions-of-use/
  contact:
    url: https://www.chef.io/support/
    email: support@chef.io
  license:
    name: Apache 2.0
    url: https://github.com/chef/automate/blob/main/LICENSE
  version: version not set
  x-logo:
    altText: Chef logo
    url: /images/chef-automate-logo.svg
servers:
- url: https://automate.chef.io
tags:
- name: Job Scheduler
  x-displayName: Job Scheduler
paths:
  /api/v0/retention/nodes/delete-nodes/config:
    post:
      tags:
      - Job Scheduler
      operationId: JobScheduler_ConfigureDeleteNodesScheduler
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chef.automate.api.ingest.response.ConfigureDeleteNodesScheduler'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/grpc.gateway.runtime.Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chef.automate.api.ingest.request.SchedulerConfig'
        required: true
      summary: Job scheduler configure delete nodes scheduler
      x-summary-source: derived
  /api/v0/retention/nodes/missing-nodes-deletion/config:
    post:
      tags:
      - Job Scheduler
      operationId: JobScheduler_ConfigureMissingNodesForDeletionScheduler
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chef.automate.api.ingest.response.ConfigureMissingNodesForDeletionScheduler'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/grpc.gateway.runtime.Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chef.automate.api.ingest.request.SchedulerConfig'
        required: true
      summary: Job scheduler configure missing nodes for deletion scheduler
      x-summary-source: derived
  /api/v0/retention/nodes/missing-nodes/config:
    post:
      tags:
      - Job Scheduler
      operationId: JobScheduler_ConfigureNodesMissingScheduler
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chef.automate.api.ingest.response.ConfigureNodesMissingScheduler'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/grpc.gateway.runtime.Error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/chef.automate.api.ingest.request.SchedulerConfig'
        required: true
      summary: Job scheduler configure nodes missing scheduler
      x-summary-source: derived
  /api/v0/retention/nodes/status:
    get:
      tags:
      - Job Scheduler
      operationId: JobScheduler_GetStatusJobScheduler
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/chef.automate.api.ingest.response.JobSchedulerStatus'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/grpc.gateway.runtime.Error'
      summary: Job scheduler get status job scheduler
      x-summary-source: derived
components:
  schemas:
    chef.automate.api.ingest.response.Job:
      type: object
      properties:
        every:
          type: string
        last_elapsed:
          type: string
        last_run:
          type: string
        name:
          type: string
        next_run:
          type: string
        running:
          type: boolean
        started_on:
          type: string
        threshold:
          type: string
    chef.automate.api.ingest.request.SchedulerConfig:
      description: 'SchedulerConfig

        The job message to configure the Delete Node Job

        every - It accepts ''1h30m'', ''1m'', ''2h30m'', ...'
      type: object
      properties:
        every:
          type: string
        running:
          type: boolean
        threshold:
          type: string
    google.protobuf.Any:
      type: object
      properties:
        type_url:
          type: string
        value:
          type: string
          format: byte
    chef.automate.api.ingest.response.JobSchedulerStatus:
      type: object
      properties:
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/chef.automate.api.ingest.response.Job'
        running:
          type: boolean
    chef.automate.api.ingest.response.ConfigureMissingNodesForDeletionScheduler:
      type: object
    chef.automate.api.ingest.response.ConfigureDeleteNodesScheduler:
      type: object
    chef.automate.api.ingest.response.ConfigureNodesMissingScheduler:
      type: object
    grpc.gateway.runtime.Error:
      type: object
      properties:
        code:
          type: integer
          format: int32
        details:
          type: array
          items:
            $ref: '#/components/schemas/google.protobuf.Any'
        error:
          type: string
        message:
          type: string
  securitySchemes:
    APIToken:
      description: Authenticate with the Automate API using an API Token.
      type: apiKey
      name: api-token
      in: header
x-tagGroups:
- name: Compliance
  tags:
  - ReportingService
  - StatsService
  - JobsService
  - ProfilesService
  - Comp_Assets
- name: Report Manager
  tags:
  - ReportManagerService
- name: Infra
  tags:
  - ConfigMgmt
  - InfraProxy
- name: Ingest
  tags:
  - ChefIngester
  - JobScheduler
- name: Node Management
  tags:
  - NodeManagerService
  - NodesService
- name: Event Feed
  tags:
  - EventFeedService
- name: Secrets
  tags:
  - SecretsService
- name: Applications
  tags:
  - service_groups
  - retention
  - ApplicationsService
- name: Data Feed
  tags:
  - DatafeedService
- name: Data Lifecycle
  tags:
  - DataLifecycle
- name: Notifications
  tags:
  - Notifications
- name: Content Delivery
  tags:
  - Cds
- name: Audit and Settings
  tags:
  - UserSettingsService
- name: System
  tags:
  - Gateway
  - Deployment
  - License
  - Telemetry
  - LegacyDataCollector
- name: Identity
  tags:
  - users
  - teams
  - tokens
- name: Access Management
  tags:
  - policies
  - roles
  - projects
  - rules
  - Authorization
